{% extends 'layout.html.twig' %}

{% block title %}Ville{% endblock %}

{% block main %}
    <h1>Ville</h1>

    <table class="w-full text-md bg-white rounded mb-4">
        <tbody>
            <tr class="border-b">
                <th class="text-left p-3 px-5">Id</th>
                <td>{{ ville.id }}</td>
            </tr>
            <tr class="border-b">
                <th class="text-left p-3 px-5">Des_ville</th>
                <td>{{ ville.desVille }}</td>
            </tr>
        </tbody>
    </table>

    {{ include('circuit/_back.html.twig') }}

    <a class="mr-3 text-sm bg-orange-500 hover:bg-orange-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline" href="{{ path('ville_edit', {'id': ville.id}) }}">edit</a>

    {{ include('ville/_delete_form.html.twig') }}
{% endblock %}
