{% extends 'layout.html.twig' %}

{% block title %}Circuit index{% endblock %}

{% block main %}
    <h1> Les circuits </h1>
 
    <div class="px-3 py-4 flex justify-center">
        <table class="w-full text-md bg-white shadow-md rounded mb-4">
            <tbody>
                <tr class="border-b">
                <th class="text-left p-3 px-5">Id</th>
                <th class="text-left p-3 px-5">Des_circuit</th>
                <th class="text-left p-3 px-5">Duree_circuit</th>
                <th class="text-left p-3 px-5">actions</th>
            </tr>

        {% for circuit in circuits %}
            <tr class="border-b hover:bg-orange-100 bg-gray-100">
                <td class="p-3 px-5" >{{ circuit.id }}</td>
                <td class="p-3 px-5" >{{ circuit.desCircuit }}</td>
                <td class="p-3 px-5">{{ circuit.dureeCircuit }}</td>
                <td class="p-3 px-5">
                    <a class="mr-3 text-sm bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline" href="{{ path('circuit_show', {'id': circuit.id}) }}">show</a>
                    <a class="mr-3 text-sm bg-orange-500 hover:bg-orange-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline" href="{{ path('circuit_edit', {'id': circuit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <a class="float-right mr-3 text-sm bg-green-500 hover:bg-green-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline" href="{{ path('circuit_new') }}">Create new</a>
{% endblock %}
