{% extends 'base.html.twig' %}

{% block title %}Circuit{% endblock %}

{% block body %}
    <h1>Circuit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ circuit.id }}</td>
            </tr>
            <tr>
                <th>Des_circuit</th>
                <td>{{ circuit.desCircuit }}</td>
            </tr>
            <tr>
                <th>Duree_circuit</th>
                <td>{{ circuit.dureeCircuit }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('circuit_index') }}">back to list</a>

    <a href="{{ path('circuit_edit', {'id': circuit.id}) }}">edit</a>

    {{ include('circuit/_delete_form.html.twig') }}
{% endblock %}
